<head>
    <script data-pagespeed-no-defer pagespeed_no_defer>{{ inlineJS }}</script>
    <script data-pagespeed-no-defer pagespeed_no_defer>if (/*@cc_on!@*/false && document.documentMode === 10) {document.write('<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js\">\x3C/script>');}</script>
    <!--[if lte IE 9]><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><![endif]-->
    <noscript>
        <style>body{font-family:Source Sans Pro,sans-serif;}</style>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin,latin-ext">
    </noscript>
    <link rel="stylesheet" href="{{ cssFile }}">
</head>
<script src="{{ jsFile }}"></script>
