@import "../variables";
@import "../mixins/utils";

%mobile-only {
  @include mqmin($viewportM) {
    display: none;
  }
}

%trigger_btn {
  @extend %mobile-only;
  border-top: solid 1px $black-30;
  margin-top: $S;
  padding: $S;
  flex-basis: 100%;
}

.sc-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: $L;

  &__state {
    display: none;

    &:checked {
      & ~ .sc-cards__show-more {
        @extend %mobile-only;
        display: none;
      }

      & ~ .sc-cards__show-less {
        @extend %mobile-only;
        display: block;
      }

      & ~ .sc-card--stateful {
        display: block;
      }
    }

  }

  &__show-more {
    display: block;
    @extend %trigger_btn;
  }

  &__show-less {
    display: none;
    @extend %trigger_btn;
  }

  .sc-card--stateful {
    display: none;
    @include mqmin($viewportM) {
      display: block;
    }
  }
}

.sc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 1px $black-30;
  border-radius: 4px 4px 0 0;
  margin: 1vh 1%;
  flex-basis: 48%;

  @include mqmin(415px) {
    flex-basis: 23%;
  }

  @include mqmin(768) {
    flex-basis: 170px;
  }

  &__media {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    background: $black-20;
    & > img {
      width: 100%;
      max-width: none;
    }
  }

  &__content {
    border-radius: 0 0 3px 3px;
    padding: $M $S;
    background: $white;
  }

}