@import "utils";
@import "../variables";
@import "fonts";

%btn {
  @include avoid-selection();
  @include font(L, $bold: true, $silent: false, $line-height: 1.3);

  display: inline-block;
  padding: 7px $XL;

  -webkit-appearance: none;
  border: none;
  border-radius: $form-border-radius;
  color: $white;
  transition: all $transition-time ease-in;
  transition-property: color, background-color;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: #fff;
  }

  [class^="icon-"] {
    width: $L;
    height: $L;
    display: inline-block;
    background-size: contain;
    position: relative;
  }
}

%btn-bob {
  background-color: $orange-100;

  &:hover,
  &:focus {
    background-color: $orange-120;
  }

  &:active {
    background-color: $orange-130;
  }

  &[disabled] {
    background-color: $orange-50;
  }
}

%btn-ross {
  background-color: $blue-80;

  &:hover,
  &:focus {
    background-color: $blue-90;
  }

  &:active {
    background-color: $blue-100;
  }

  &[disabled] {
    background-color: $blue-30;
  }
}

@mixin button($type) {
  @extend %btn;
  @extend %btn-#{to-lower-case($type)};
}
