@import "ellipsis";
@import "utils";
@import "inputs";
@import "select";

@mixin custom-dropdown() {
  padding: 0;
  position: relative;
  background-color: $white;
  display: block;

  div:first-child {
    padding: $XS 12px;
    width: 100%;
    height: 38px;

    & > p {
      @include avoid-selection();
      @include ellipsis();

      overflow: hidden;
      padding-right: 26px;
      padding-top: 3px;

      &::after {
        @extend %icon-dropdown-arrow-down;
        background-color: #fff;
        background-position: 4px center;

        position: absolute;
        top: $form-border-radius;
        bottom: $form-border-radius;
        right: $form-border-radius;
        content: '';
        width: 26px;
      }
    }
  }

  &.sc-open {
    div:first-child {
      border: 1px solid $blue-80;
      border-radius: $XS;
      width: calc(100% + 2px);
      position: relative;
      top: -1px;
      left: -1px;

      & > p::after {
        margin-top: 2px;
      }
    }
  }

  & > div:last-child {
    display: none;
    position: relative;
    top: -1px;
    left: -1px;
    background-color: $white;
    border: 1px solid $blue-80;
    border-radius: 0 0 $XS $XS;
    border-top: 0;
    width: calc(100% + 2px);
    z-index: 1;
    padding: 7px 11px 11px 11px;
    margin-top: -4px;

    label {
      padding-top: 1px;
    }
  }

  &.sc-open > div:last-child {
    display: block;
  }

  div label {
    margin-top: $XS;
    width: 100%;
  }
}
