@import "variables";
@import "mixins/meyer-reset";
@include meyer-reset;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-smooth: always;
}

html {
  -webkit-text-size-adjust: 100%; // Prevent font scaling in landscape while allowing user zoom
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body,
&[data-showcar-ui] {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.382;
  color: $black-100;
  -webkit-overflow-scrolling: touch;
  background-color: $black-20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

hr {
  margin-top: $M;
  margin-bottom: $M;
  border: 0;
  border-top: 1px solid $black-30;
}

@import "reset/buttons";
@import "reset/images";
@import "reset/as24-icon";
