@import "variables";
@import "mixins/inputs";

.sc-stepper {
  display: flex;
}

.sc-stepper-input {
  @include input;

  border: 1px solid $black-60;
  border-left: 0;
  border-right: 0;
  width: 100%;
  text-align: center;
  outline: none;
  -moz-appearance: textfield; // Don't show spinners in firefox
}

.sc-stepper-button {
  cursor: pointer;
  outline: none;
  padding: 5px 10%;
  color: $black-100;
  background-color: $white;
  font-size: 100%;
  border: 1px solid $black-60;
  border-radius: 4px;

  &:hover {
    background-color: $black-30;
  }

  &-decrement {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-increment {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Don't show spinners in webkit browsers
.sc-stepper-input::-webkit-inner-spin-button,
.sc-stepper-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}